:root {
    --color-text-default: #000 !important;
    --color-text-gray: #8F9BA8 !important;
    --color-text-default-light: #000000 !important;
    --color-bg-default: #fff !important;
    --color-ui-hover-bg: #ffffff !important;
    --color-card-bg: transparent !important;
    
    --navbar-height: 44px !important;
    --transition: all .2s ease-in-out !important;

    --container-md: 920px !important;
    --column-spacing: 80px !important;

    --padding-right: calc(env(safe-area-inset-right) + 50px) !important;
    --padding-left: calc(env(safe-area-inset-left) + 50px) !important;
}

@media (max-width: 600px) {

    :root {
        --navbar-height: 80px !important;
        --container-md: 90% !important;

        --padding-right: 5% !important;
        --padding-left: 5% !important;
    }

}